@media (min-width:768px) {
    .navbar {
        background-color: rgb(19, 1, 56) !important;
    }
    #myMenu{
        position: -webkit-sticky; /* Necessário para funcionar no Safari */
        position: sticky;
        top: 0;
    }
}