.Sobre{
    display: flex;
    justify-content: center;
    padding: 70px;
}

.Sobre h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sobre_img{
    display: flex;
    margin: 0 auto;
    width: 50%;
 }

 .img1{
     width: 30%;
     height: 300px;
 }

 .quem{
     display: flex;
     justify-content: space-between;
     width: 700px;
 }
 .imgquem{
     display: flex;
     justify-content: center;
 }


.texto{
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.nos{
    display: flex;
    justify-content: center;
    padding: 70px;
}


.texto1 {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}



.Banner{
    margin: 0 auto;
}

.nos1{
    display: flex;
    align-items: center;
    padding: 200px 30px;
}

.coluna {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 0px 0px;
}