#Carrossel img{
    height: 30em;
}

#Carrossel h1{
    color:#190156;
    font-weight: bolder;
    font-size: 4em;
}

#Carrossel h2{
    color:black;
    font-weight: bold;
}

.text{
 margin-bottom: 10%;
}