body{
    height: 100%;
    margin: 0;
}
.bg{
    background-repeat: no-repeat;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20200313/pngtree-office-school-supplies-paper-magnifying-glass-scissors-color-lead-note-paper-image_331669.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}